.app{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 5% 90% 5%;
    grid-template-columns: 2% 98% 2%;
    
}

.posts{
    display: flex;
    grid-row: 2/3;
    grid-column: 2/3;
    gap: 2em;
}